:root{
    --color1: hsl(12, 88%, 59%);
    --color2: hsl(228, 39%, 23%);
    --color3: hsl(227, 12%, 61%);
    --color4: hsl(233, 12%, 13%);
    --color5: hsl(13, 100%, 96%);
    --color6: hsl(0, 0%, 98%);
    --color7: hsl(12, 88%, 68%);
}
body{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
}
.mybtn{
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: var(--color1);
    color: white;
    padding: 10px;
    width: 150px;
}
.mybtn:hover{
    transition: 0.3s;
    background-color: var(--color7);
}
button:focus{
    outline: none;
    border: none;
}